root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4

[*.php]
ij_php_blank_lines_after_class_header = 1
ij_php_blank_lines_before_class_end = 1
ij_php_blank_lines_before_return_statement = 1
ij_php_space_after_type_cast = true
ij_php_align_multiline_parameters = false
ij_php_phpdoc_blank_lines_around_parameters = true
